<a href="https://colab.research.google.com/github/mohitphulsunge/DataScience-MachineLearning/blob/main/KNN_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, classification_report

Import the dataset

In [ ]:
dataset = pd.read_csv("Social_Network_Ads.csv")
X = dataset.iloc[:, :-1].values
Y = dataset.iloc[:, -1].values
dataset

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

Standardize the data

In [ ]:
sc = StandardScaler()
sc.fit(X)
X = sc.transform(X)

Visualize

In [ ]:
sns.pairplot(data=dataset, hue="Purchased")

Split data

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.75, random_state=0)

Using KNN

In [ ]:
classifier = KNeighborsClassifier(n_neighbors=1)
classifier.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

Matrix

In [ ]:
print(confusion_matrix(Y_test, classifier.predict(X_test)))
print(classification_report(Y_test, classifier.predict(X_test)))

[[57 11]
 [ 6 26]]
              precision    recall  f1-score   support

           0       0.90      0.84      0.87        68
           1       0.70      0.81      0.75        32

    accuracy                           0.83       100
   macro avg       0.80      0.83      0.81       100
weighted avg       0.84      0.83      0.83       100