<a href="https://colab.research.google.com/github/mohitphulsunge/DataScience-MachineLearning/blob/main/Pandas_Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
s = pd.Series([1,2,3,4,5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
marks = pd.Series([89, 87, 91], index = ["Maths", "Science", "Physics"])
print(marks["Maths"])

89

In [ ]:
dict = {}
dict["Maths"] = 87
dict["English"] = 76
dict["Physics"] = 98
mohitMarks = pd.Series(dict, index = ["Maths", "Physics"])
print(mohitMarks)

Maths      87
Physics    98
dtype: int64

In [ ]:
#iloc and loc
countDict = {}
countDict[1] = 0
countDict[2] = 1
countDict[3] = 2
countDict[4] = 3
countDict[5] = 4
countDict[6] = 5
count = pd.Series(countDict)
print(count)

print(count.loc[3])
print(count.iloc[3])
print(marks.loc["Maths"])
print(marks.iloc[0:2])

1    0
2    1
3    2
4    3
5    4
6    5
dtype: int64
2
3
89
Maths      89
Science    87
dtype: int64

In [ ]:
#Pandas is built on top of numpy 

marks = pd.Series([89, 67, 87, 98, 82], index = ["Maths", "English", "Physics", "Chem", "PE"])

In [ ]:
goodMarks = marks[marks > 85]
newMarks = goodMarks + marks
newMarks[pd.isnull(newMarks)] = np.mean(newMarks)
newMarks

Chem       196.000000
English    182.666667
Maths      178.000000
PE         182.666667
Physics    174.000000
dtype: float64

In [ ]:
diameter = pd.Series([4879, 12104, 12756], index = ["Mercury", "Venus", "Earth"])
mass = pd.Series([0.33, 5.25, 4.24], ["Mercury", "Venus", "Earth"])

density = mass / (np.pi * np.power(diameter, 3) / 6)
print(density)

Mercury    5.426538e-12
Venus      5.654236e-12
Earth      3.901429e-12
dtype: float64

In [ ]:
#NIFTY CASE STUDY

nifty = pd.read_csv('nifty-200623-235920.csv', index_col = 0).iloc[:, 0]
#What fraction of days did the market closed with a positive increase.
np.sum(nifty.values[1 : ] - nifty.values[:-1] > 0)

#Comupte moving average of last 5 days
#Subset the data to include only Fridays
new_index = map(pd.Timestamp, nifty.index)
new_nifty = pd.Series(nifty, index = new_index)
new_nifty.rolling('5d').mean().head(10)
nifty_series = pd.Series(nifty, index = new_index)
nifty_series.diff()

Series([], Name: Close, dtype: float64)

In [ ]:
data = [0 ,1 , 1, 2, 3, 5, 8, 13, 21]
s=pd.Series(data)
b = s.diff()
print(b.loc[5])

2.0

In [ ]:
def createDF(nRows, nCols, nRange = 10):
    arr = np.random.randint(0 , nRange, (nRows, nCols))
    index = ["R" + str(x) for x in np.arange(1, nRows+1)]
    column = ["C" + str(x) for x in np.arange(1, nCols+1)]
    df = pd.DataFrame(arr, index = index, columns = column)
    return df

df = createDF(3, 4 , 10)

def createMeanRow(df):
    for col in df.columns:
        df.loc["Mean", col] = np.mean(df[col])
    return df

    
def createMeanRowEfficient(df):
        df.loc["Mean"] = np.mean(df)
        return df



createMeanRowEfficient(df)

            C1        C2        C3        C4
R1    4.000000  2.000000  9.000000  2.000000
R2    1.000000  8.000000  4.000000  3.000000
R3    8.000000  7.000000  6.000000  8.000000
Mean  4.333333  5.666667  6.333333  4.333333

In [ ]:
df = sns.load_dataset('planets')
df.head(10)
dropCol = []
for row in df.index:
    for col in df.columns:
        if(pd.isnull(df.loc[row][col])):
            dropCol.append( df.loc[row] )
            break

#Query

for i, r in df.iterrows():
    if(r.loc["method"] == "Radial Velocity" and r.loc["year"] == 2010 and r.loc["distance"] > df["distance"].quantile(0.75)):
        print(r)
        break

df[(df["year"] > 2010) & (df["method"] == "Radial Velocity")]

    
#Modify the method name to contain only the abbreviaton
df.method.unique()

method            Radial Velocity
number                          1
orbital_period               16.2
mass                         1.25
distance                   223.21
year                         2010
Name: 627, dtype: object

array(['Radial Velocity', 'Imaging', 'Eclipse Timing Variations',
       'Transit', 'Astrometry', 'Transit Timing Variations',
       'Orbital Brightness Modulation', 'Microlensing', 'Pulsar Timing',
       'Pulsation Timing Variations'], dtype=object)

In [ ]:
def shorten_name(planet_name):
    return ''.join(x[0] for x in planet_name.split(' '))

df["short_name"] = df["method"].apply(shorten_name)
df

               method  number  orbital_period   mass  distance  year short_name
0     Radial Velocity       1      269.300000   7.10     77.40  2006         RV
1     Radial Velocity       1      874.774000   2.21     56.95  2008         RV
2     Radial Velocity       1      763.000000   2.60     19.84  2011         RV
3     Radial Velocity       1      326.030000  19.40    110.62  2007         RV
4     Radial Velocity       1      516.220000  10.50    119.47  2009         RV
...               ...     ...             ...    ...       ...   ...        ...
1030          Transit       1        3.941507    NaN    172.00  2006          T
1031          Transit       1        2.615864    NaN    148.00  2007          T
1032          Transit       1        3.191524    NaN    174.00  2007          T
1033          Transit       1        4.125083    NaN    293.00  2008          T
1034          Transit       1        4.187757    NaN    260.00  2008          T

[1035 rows x 7 columns]

In [ ]:
nifty50_2018 = pd.read_csv('NIFTY50_2018.csv', index_col= 0 )
nifty50_2019 = pd.read_csv('NIFTY50_2019.csv', index_col= 0 )
nifty50 = pd.concat([nifty50_2018, nifty50_2019])
nifty_next50_2019 = pd.read_csv('NIFTYNext50_2019.csv', index_col= 0 )
nifty2019 = pd.concat([nifty50_2019, nifty_next50_2019], axis = 1, keys = ["nifty50", "niftynext50"])
nifty2019_copy = nifty2019.copy()
#In how many days was nifty50 volatile
nifty2019_copy['volatile'] = nifty2019_copy['nifty50']['High'] > (nifty2019_copy['nifty50']['Low'] + 0.05*nifty2019_copy['nifty50']['Low']) 
nifty2019_copy

              nifty50                      ... niftynext50           volatile
                 Open      High       Low  ...         Low     Close
Date                                       ...
31 Dec 2019  12247.10  12247.10  12151.80  ...    28270.25  28307.55    False
30 Dec 2019  12274.90  12286.45  12213.80  ...    28406.70  28484.85    False
27 Dec 2019  12172.90  12258.45  12157.90  ...    28319.90  28476.80    False
26 Dec 2019  12211.85  12221.55  12118.85  ...    28259.75  28280.25    False
24 Dec 2019  12269.25  12283.70  12202.10  ...    28318.75  28382.85    False
...               ...       ...       ...  ...         ...       ...      ...
07 Jan 2019  10804.85  10835.95  10750.15  ...    27652.95  27706.60    False
04 Jan 2019  10699.70  10741.05  10628.65  ...    27533.90  27719.50    False
03 Jan 2019  10796.80  10814.05  10661.25  ...    27630.20  27674.65    False
02 Jan 2019  10868.85  10895.35  10735.05  ...    27801.75  27876.95    False
01 Jan 2019  10881.70  10923.60  10807.10  ...    27988.60  28111.65    False

[245 rows x 9 columns]